.title-1 {
  color: #303133;
  font-size: 18px;
  font-weight: bold;
}

.title-2 {
  color: #303133;
  font-size: 16px;
}

.title-3 {
  color: #606266;
  font-size: 20px;
}

.title-4 {
  color: #606266;
  font-size: 16px;
}

.tips {
  color: #909399;
  font-size: 14px;
}