.userPic-normal {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  border: 1px solid #E4E7ED;
}

.userPic-mini {
  /* margin-right: 5px; */
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #E4E7ED;
}

.userPic-middle {
  /* margin-right: 5px; */
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #E4E7ED;
}

.userPic-large {
  /* margin-right: 5px; */
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid #E4E7ED;
}
